@using System.Diagnostics.Eventing.Reader
@{
    var page = ViewData["Page"]?.ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VividPath</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body data-page="@ViewBag.Page">

    <nav class="@(page == "login" || page == "register" || page == "Learn" ? "hide" : "")">
       <div class="Vivid">
            <img src="~/img/Vivid.image.png" asp-append-version="true" alt="VividPath Logo">
       </div>
       <div class="nabvar-line">
            <li><a href="#">Home</a></li>
            <li><a href="#course">Course</a></li>
            <li><a href="#about">About</a></li>

            @if (User.Identity.IsAuthenticated) 
            {
                <li class="profile-menue">
                    <a asp-controller="Home" asp-action="profile"> 
                        <img src="~/img/photo_2025-08-26_18-26-47.jpg" class="profile-pic"/>
                    </a>
                </li>

            }
            else {
                <li><button class="primary-button"><a asp-controller="Home" asp-action="LogIn">Log in</a></button></li>
            }
        </div>
    </nav>

    <main>
        @RenderBody() <!-- Kumbaga, cinocopy paste dito ang contents o ang nilalaman ng Home/ folder, kung saan ang Main.cshtml ay lalabas dito -->
    </main>

    <footer>
      <div class="@(page == "Learn" ? "hide" : "")">
        <div class="footangina">
            <div class="foot-card">
                <div class="inner-fonts">
                  <li><a href="#">Home</a></li>
                  <li><a href="#course">Course</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="Home">Terms and Conditions</a></li>
                </div>
            </div>
        </div>
     </div>
    </footer>
 

    <!-- This points to ~/js/site.js file -->
    <script type="module" src="~/js/site.js"></script>
</body>
</h