<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VividPath</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <nav>
       <div class="Vivid">
            <img src="~/img/Vivid.image.png" asp-append-version="true" alt="VividPath Logo">
       </div>
        <ul>
            <li><a href="Home">Home</a></li>
            <li><a href="Home">Course</a></li>
            <li><a href="Home">About</a></li>
            <li><button class="primary-button">Log in</button></li>
        </ul>
    </nav>

    <main>
        @RenderBody() <!-- Kumbaga, cinocopy paste dito ang contents o ang nilalaman ng Home/ folder, kung saan ang Main.cshtml ay lalabas dito -->
    </main>


    <footer>
    
    </footer>
    

    <!-- This points to ~/js/site.js file -->
    <script src="~/js/site.js"></script>
</body>
</html>
