@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "course";
}

<div class="frame-one">
    <div class="frame-two">
        <div class="frame-card">

            <div class="frame-card-second">
                <button class="frame-font-card">
                    <p class="frame-font">Account</p>
                </button>

                <button class="frame-font-card">
                    <p class="frame-font">Course</p>
                </button>

                <button class="frame-font-card">
                    <p class="frame-font">Log Out</p>
                </button>
            </div>

            <div class="img">
                <img src="~/img/logows.png" asp-append-version="true" alt="color">
            </div>
                
        </div>

        <div class="second-frame-cont">
            <div class="framee">

                <div class="perso-info">
                    <p class="second-frame-card">Course activity</p>
                </div>


                        <div class="input-groupss">
                            <select name="username" required>
                                <option value="">Shape</option>
                            </select>
                     </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


