@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "learn";
}

<div class="learn-conts">
    <div class="learn-second-conts">

      <div class="back-box-big">
        
         <div class="back-box">
            <button class="Backs">Back</button>
          </div>

           <div class="back-boxx">
            <p class="Back">Shape</p>
          </div>
      </div>

        <div class="second-sec">
          <div class="second-sec-box">

            <div class="two-learn-items">
                <div class="learn-box-font">
                    <p class="learn-font">What is Shape?</p>
                </div>
                    <div class="boxxxxx">
                     <div class="second-learn-box">
                        <p class="second-learn-boxx">Shape is an element of art that is created when lines connect to form a closed space. It has height and width but does not have depth. Shapes can be geometric, like squares, circles, and triangles. They can also be organic, which are irregular shapes found in nature. Artists use shapes to build objects and organize elements in an artwork.</p>
                    </div>
                </div>
            </div>
        </div>

         <div class="next-cont">
              <div class="next-button">
                <p class="next">Next</p>
              </div>
        </div>
        
    </div>
</div>