@{
    ViewData["Title"] = "Home Page";
}


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VividPath</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
</body>
</html>


**** Hindi mo na to kailangan dito, kasi as I have said cinocopy paste lang lahat ng contents nito duon sa _Layout.cshtml

-->


<div class="Text">
    <div class="content">
        <div class="content2">
            <p class="headline">Find your Creative <span class="highlight headline">Direction</span></p>
            <p class="description">
                VividPath is a beginner-friendly platform that introduces aspiring artists to the fundamentals of visual art. 
                Through clear and simple tutorials, learners explore the 7 elements of art—line, shape, color, value, form, texture, and space to build a strong foundation in artistic expression. 
                VividPath makes learning art approachable, fun, and hands-on, helping beginners confidently develop their skills.
            </p>
        </div>
        
        <button class="btn secondary-button">
            Get Started
        </button>
        
    </div>
    <div class="Logo">
        <img src="~/img/lowgo.png" asp-append-version="true" alt="VividPath Logo">
    </div>

</div>

<div class="second-section">
    <p class="Head">7 Element of Art</p>

    <div class="Cardcontainer"> 
        <div class="Card">
            <div class="innercont">
                <p class="head">LINES</p>
                <p class="desc">A Mark connecting two points</p>

                <div class="card2">
                    <div class="learnbox">
                        <p>Learn</p>
                    </div>
                </div>
                <div class="card3">
                    <div class="tutsbox">
                        <p> Video Tutorial</p>
                    </div>
                </div>
                
            </div>
        
            <div class="img">
                <img src="~/img/Line.png" asp-append-version="true" alt="Line">
            </div>
        </div>  
 
   </div>


    <div class="Cardcontainer"> 
        <div class="Card">
            
            <div class="img">
                <img src="~/img/Shape.png" asp-append-version="true" alt="Shape">
            </div>

            <div class="innercont">
                <p class="head">SHAPE</p>
                <p class="desc">A closed line that forms a flat figure</p>

                <div class="card2">
                    <div class="learnbox">
                        <p>Learn</p>
                    </div>
                </div>
                <div class="card3">
                    <div class="tutsbox">
                        <p> Video Tutorial</p>
                    </div>
                </div>
                
            </div>
        </div>  
    </div>

<div class="Cardcontainer"> 
    <div class="Card">
        <div class="innercont">
            <p class="head">FORM</p>
            <div class="cut">
            <p class="desc">A three-dimensional object with height, width, and dept</p>
            </div>
            <div class="card2">
                <div class="learnbox">
                    <p>Learn</p>
                </div>
            </div>
            <div class="card3">
                <div class="tutsbox">
                    <p> Video Tutorial</p>
                </div>
            </div>
            
        </div>
    
        <div class="img">
            <img src="~/img/Form.png" asp-append-version="true" alt="Form">
        </div>
    </div>  

</div>

<div class="Cardcontainer"> 
        <div class="Card">
            
            <div class="img">
                <img src="~/img/space.png" asp-append-version="true" alt="space">
            </div>

            <div class="innercont">
                <p class="head">SPACE</p>
                <div class="cut">
                <p class="desc">The area around between, or within object is an artwork</p>
                </div>
                <div class="card2">
                    <div class="learnbox">
                        <p>Learn</p>
                    </div>
                </div>
                <div class="card3">
                    <div class="tutsbox">
                        <p> Video Tutorial</p>
                    </div>
                </div>
                
            </div>
        </div>  
    </div>

<div class="Cardcontainer"> 
    <div class="Card">
        <div class="innercont">
            <p class="head">TEXTURE</p>
            <div class="cut">
            <p class="desc">The surface quality of an object, how it feels or looks like it feels</p>
            </div>
            <div class="card2">
                <div class="learnbox">
                    <p>Learn</p>
                </div>
            </div>
            <div class="card3">
                <div class="tutsbox">
                    <p> Video Tutorial</p>
                </div>
            </div>
            
        </div>
    
        <div class="img">
            <img src="~/img/texture.png" asp-append-version="true" alt="texture">
        </div>
    </div>  

</div>

<div class="Cardcontainer"> 
        <div class="Card">
            
            <div class="img">
                <img src="~/img/color.png" asp-append-version="true" alt="color">
            </div>

            <div class="innercont">
                 <p class="head">COLOR</p>
                <div class="cut">
                    <p class="desc">A visual effect created by light reflect form objects</p>
                </div>
                <div class="card2">
                    <div class="learnbox">
                        <p>Learn</p>
                    </div>
                </div>
                <div class="card3">
                    <div class="tutsbox">
                        <p> Video Tutorial</p>
                    </div>
                </div>
                
            </div>
        </div>  
    </div>

<div class="Cardcontainer"> 
    <div class="Card">
        <div class="innercont">
            <p class="head  ">VALUE</p>
            <p class="desc">The lightness or darkness of a color</p>

            <div class="card2">
                <div class="learnbox">
                    <p>Learn</p>
                </div>
            </div>
            <div class="card3">
                <div class="tutsbox">
                    <p> Video Tutorial</p>
                </div>
            </div>
            
        </div>
    
        <div class="img">
            <img src="~/img/value.png" asp-append-version="true" alt="value">
        </div>
    </div>  

</div>

</div> 


