@{
    ViewData["Title"] = "Home Page";
}


<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VividPath</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
</body>
</html>


**** Hindi mo na to kailangan dito, kasi as I have said cinocopy paste lang lahat ng contents nito duon sa _Layout.cshtml

-->


<div class="Text">
    <div class="content">
        <div class="content2">
        <p class="headline">Find your Creative Direction</p>
        <p class="description">
            VividPath is a beginner-friendly platform that introduces aspiring artists to the fundamentals of visual art. 
            Through clear and simple tutorials, learners explore the 7 elements of art—line, shape, color, value, form, texture, and space to build a strong foundation in artistic expression. 
            VividPath makes learning art approachable, fun, and hands-on, helping beginners confidently develop their skills.
        </p>
        </div>
        
        <button class="btn secondary-button">
            Get Started
        </button>
        
    </div>
    <div class="Logo">
        <img src="~/img/lowgo.png" asp-append-version="true" alt="VividPath Logo">
    </div>

</div>

<div class="second-section">
    
</div>
