@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "profile";
}

<div class="frame-one">
    <div class="frame-two">
        <div class="frame-card">

            <div class="frame-card-second">
                <button class="frame-font-card">Account</button>
             
                <button class="frame-font-card">Activity</button>
            
                <button id="logOutBtn" class="frame-font-card">Log Out</button>
            </div>

            <div class="img">
                <img src="~/img/logows.png" asp-append-version="true" alt="color">
            </div>
                
        </div>

        <div class="second-frame-cont">
            <div class="framee">

                <div class="perso-info">
                    <p class="second-frame-card">Personal Info</p>
                </div>

                <div class="three-gaps">
                    <div class="input-group">
                        <label>Username</label>
                        <input type="text" name="username" required />
                    </div>

                    <div class="input-group">
                        <label>Password</label>
                        <input type="password" name="password" required />
                    </div>

                    <div class="UPI-box">
                        <p class="UPI">Update Personal Info</p>
                    </div>
                </div>
                
                <div class="two-items">
                    <div class="input-group">
                        <label>Email</label>
                        <input type="password" name="password" required />
                    </div>

                    <div class="UPI-box">
                        <p class="UPI">Update Email Address</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
