@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  
  --white-h: 0;
  --white-s: 0%;
  --white-l: 100%;

  --black-h: 0;
  --black-s: 0%;
  --black-l: 0%;

  --primary-h: 180;
  --primary-s: 60%;
  --primary-l: 50%;

  --secondary-h: 45;
  --secondary-s: 55%;
  --secondary-l: 75%;

  --accent-h: 235;
  --accent-s: 100%;
  --accent-l: 75%;

  --text-h: 0;
  --text-s: 0%;
  --text-l: 15%;


  --danger-h: 360;
  --danger-s: 70%;
  --danger-l: 60%;


  /* wag  m*/
  --white: hsl(var(--white-h), var(--white-s), var(--white-l));

  --black: hsl(var(--black-h), var(--black-s), var(--black-l));

  --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));

  --secondary-bg: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l)); 
  --secondary-bg-muted: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + 10%));
  --secondary-bg-light: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + 15%));
  --secondary-bg-lightest: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) + 20%));

  --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));

  --text: hsl(var(--text-h), var(--text-s), var(--text-l));

  --text-muted: hsl(var(--text-h), var(--text-s), var(--text-l));

  --danger: hsl(var(--danger-h), var(--danger-s), var(--danger-l));

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:"Nunito", sans-serif;
}

html {
  font-size: 16px;
}

body{
  background-color: var(--secondary-bg-light);
  margin:0;
}


nav{
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
}

ul{
  list-style:none;
  margin:0;
  padding: 0px;
  display:flex;
  margin-left: auto;
  padding: 0;

}

li{
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

a{
  color:hsl(var(--text-h), var(--text-s), var(--text-l));;
  text-decoration:none;
}

button {
  border: none;
  background: transparent;
  padding: 4px 16px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 800;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

.primary-button {
  background: var(--primary);
  color: var(--white) !important;
}

.secondary-button {
  background: var(--secondary-bg);
  color: var(--text) !important;
}

.Vivid img{
  height:50px;
}

.Text {
  display:flex;
  align-items:center;
  justify-content:center;
  gap:200px;
  margin-top:100px;
}

.headline {
  font-size: 3.3rem; 
  font-weight: 400;
  width: 800px;
  color:var(--primary);
  font-family: "Gasoek One", sans-serif;
}

.description {
  font-size: 1rem;    
  line-height: 1.4;  
  color: var(--text);  
  width: 650px;  
  color: rgba(0, 0, 0, 0.5);   
}

.highlight {
  color: var(--accent); 
}

.highlight2 {
  color: var(--accent); 
}

.content{
  max-width: 500px;
}

.content2 {
  margin-bottom: 100px;
}

.second-section {
   display: flex;
   flex-direction: column;
}

.Head {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 900;
  margin-top: 80px;
}

.Card {
  margin-top: 30px;
  background:var(--secondary-bg-lightest);
  border-radius: 10px;
  box-shadow: 0px 9px 10px rgba(0,0,0,0.1);
  width: 1100px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
} 

.Cardcontainer {
  display: flex;
  justify-content: center;
}

.innercont {
  display: flex;       
  flex-direction: column;    
  align-items: center;     
  gap: 8px;          
}

.learnbox {
  color: #fff;
  background: var(--primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}

.tutsbox {
  background: var(--secondary-bg);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  width: 200px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
}

.head {
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Gasoek One", sans-serif;
  color: var(--text-muted);
}

.desc {
  font-size: 12px;
}

.cut {
  max-width: 190px;
  text-align: center;
}

.card2 {
  box-shadow: 0px 5px 3px rgba(0,0,0,0.1);
}

.card3 {
  box-shadow: 0px 5px 3px rgba(0,0,0,0.1);
} 






